    <div class="container">
        <div class="side-bar">
            <div class="logo-div">
                <img class="logo-img" src="../static/images/logo.png" alt="Logo">
            </div>
            <div class="title-div">
                <h2>Nombre de la aplicación</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('data') }}">Extraer Información</a></li>
                    <li><a href="{{ url_for('chart') }}">Análisis</a></li>
                </ul>
            </nav>
        </div>
        <div class="content-area">
            <h1>Bienvenido a la Página de Inicio</h1>
            <p>Esta es la página principal de la aplicación de análisis de datos.</p>
        </div>
    </div>