.container{
    display: flex;
}

.side-bar{
    /* Define un ancho fijo para la barra */
    width: 250px; 
    
    /* Evita que la barra se encoja si el contenido es muy grande */
    flex-shrink: 0; 

    background-color: #333;
    color: white;
    padding: 20px;
}

.main-content{
    margin-left: 0;
}

.logo-img{
    width: 20px;
    height: auto;
}

.title-div{
    margin-left: 10px;
}