.container{
    display: inline;
}

.side-bar{
    display: grid;
    grid-template-columns: 1fr;
}

.main-content{
    margin-left: 0;
}

.logo-img{
    width: 20px;
    height: auto;
}

.title-div{
    margin-left: 10px;
}