.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.side-bar{
    flex-grow: 0;
    width: 250px; 

    background-color: #333;
    color: white;
    
}

/* Estilos simples para los enlaces del menú */
.side-bar nav ul {
    list-style: none;
    padding: 0;
}
.side-bar nav a {
    color: #eee;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.side-bar nav a:hover {
    background-color: #555;
}

.logo-img{
    flex-grow: 0;
    width: 20px;
    height: auto;
}

.title-div{
    flex-grow: 1;
    margin-left: 10px;
}

.content-area{
    /* ¡Esta es la clave! */
    /* Le dice al contenido que ocupe todo el espacio restante */
    flex-grow: 1; 

    padding: 30px;
    
    /* Añade scroll solo a esta área si el contenido es muy largo */
    overflow-y: auto; 
}