.container{
    display: flex;
}

.side-bar{
    /* Define un ancho fijo para la barra */
    width: 250px; 
    
    /* Evita que la barra se encoja si el contenido es muy grande */
    flex-shrink: 0; 

    background-color: #333;
    color: white;
    padding: 20px;
}

.main-content {
    /* ¡Esta es la clave! */
    /* Le dice al contenido que ocupe todo el espacio restante */
    flex-grow: 1; 

    padding: 30px;
    
    /* Añade scroll solo a esta área si el contenido es muy largo */
    overflow-y: auto; 
}

.logo-img{
    width: 20px;
    height: auto;
}

.title-div{
    margin-left: 10px;
}