# Entorno virtual
.venv/

# Historia local de VS Code
.history/

# Archivos compilados de Python
**/__pycache__/
*.pyc

# Pycache del proyecto Scrapy (spyder)
spyder/**/__pycache__/

# Logs y Datos
spyder/logs/
spyder/data/
*.log