<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index.css">
    <title>Inicio</title>
</head>

<body>
    <div class="container">
        <div class="side-bar">
            <div class="logo-div">
                <img class="logo-img" src="../static/images/logo.png" alt="Logo">
            </div>
            <div class="title-div">
                <h2>Nombre de la aplicación</h2>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('data') }}">Web Scrapping</a></li>
                    <li><a href="{{ url_for('chart') }}">Análisis</a></li>
                    /%<li><a href="{{ url_for('scraper') }}">Scraper</a></li>

                </ul>
            </nav>
        </div>
        <div class="content-area">
            <h1>Bienvenido a la Página de Inicio</h1>
            <p>Esta es la página principal de la aplicación de análisis de datos.</p>
        </div>
    </div>
</body>

</html>