<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index.css">
    <title>Inicio</title>
</head>

<body>
    <div class="main-div">
        
        <div class="side-bar">
            <nav></nav>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="about.html">Acerca de</a></li>
                    <li><a href="data.html">Extraer Información</a></li>
                    <li><a href="chart.html">Análisis</a></li>
                </ul>
            </nav>
        </div>
        <div class="content-area">

        </div>
    </div>
</body>
</html>