<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index.css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="../static/images/logo.png" width="20px" height="auto" alt="Logo">
            </div>

            <ul class="nav-list">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="about.html">Acerca de</a></li>
                <li><a href="data.html">Extraer Información</a></li>
                <li><a href="chart.html">Análisis</a></li>
            </ul>
        </nav>
    </header>



</body>
</html>