<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/scaper.css">
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/palomitas.png') }}">
    <title>Web Scraping - Data Analysis Cinema</title>
</head>
<body>
    <button class="hamburger-btn" id="hamburgerBtn">
        <i class="fas fa-bars"></i>
    </button>
    <div class="overlay" id="overlay"></div>

    <div class="container">
        <div class="side-bar" id="sidebar">
            <button class="close-btn" id="closeBtn">
                <i class="fas fa-times"></i>
            </button>
            <div class="logo-div">
                <img class="logo-img" src="{{ url_for('static', filename='images/palomitas.png') }}" alt="Logo">
            </div>
            <div class="title-div">
                <h2>Data Analysis Cinema</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href="{{ url_for('scraper') }}"><i class="fas fa-globe"></i> Web Scraping</a></li>
                    <li><a href="{{ url_for('financial') }}"><i class="fas fa-chart-line"></i> Análisis Financiero</a></li>
                </ul>
            </nav>
        </div>

        <div class="content-area">
            <h1>Web Scraping</h1>
            <p>Visualización de los datos extraídos usando Web Scrapping, esto para saber que datos se usarán para hacer el análisis.</p>
                <div id="wrapper"></div>
        </div>
    </div>

    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="/static/js/table_scrapper.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>